@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;600;700&display=swap');

html{
  background-color: #FFFEF6;
}

.main{
  background-color: #FFFEF6;
  font-family: 'Spectral', serif;
}